<h1>task一覧</h1>
<p><%= notice %></p>
<p><%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %></p>

<%= form_with(url:tasks_path, local: true, method: :get) do |form| %>
  <%= form.label :title_search, "タイトル検索" %>
  <%= form.text_field :title %>
  <%= form.label :status_search, "状態検索" %>
  <%= form.select :status, {未着手:"未着手",着手中:"着手中",完了:"完了"}, include_blank: "選択して下さい" %>
  <%= form.hidden_field :search, value:"true" %>

  <%= form.submit name="検索する" %>
<% end %>


<table>
  <tr>
    <th>タスク名</th>
    <th>タスク詳細</th>
    <th>終了期限</th>
    <th>状態</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class="task_row"><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline.strftime("%Y年%m月%d日")%></td>
    <td><%= task.status %></td>
    <td><%= link_to '詳細', task_path(task.id) %></td>
    <td><%= link_to "編集", edit_task_path(task.id) %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくタスクを投稿する', new_task_path %>
